/*
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */

/* MyBerkeley custom begin */

.welcome-block {
    background-color: #DDE9F5;
    margin: 0 12px 12px 0;
    padding: 12px;
    -moz-border-radius:5px;
    border-radius:5px;
}

.welcome-block p {
    margin-bottom: 4px;
}

.welcome-unauth {
    background: url(/devwidgets/welcome/images/calcentral_welcome_bkgnd.jpg) no-repeat top left scroll;
    height: 433px;
    -moz-border-radius: 0;
    border-radius: 0;
}

.welcome-block .tag-line {
    color: #333;
    font-size: 2.3em;
    font-weight: bolder;
	padding-top: 0.2em;
    margin-bottom: 0.5em;
}

.welcome-block .welcome-body {
	float: right;
	width: 460px;
    color: #666;
    font-size: 1.25em;
	line-height: 120%;
}

.welcome-block .gearbox {
    margin-top: 12px;
    background: white url(/dev/images/settings_icon.png) no-repeat 13px 13px scroll;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 8px 12px 12px 36px;
    -moz-border-radius:5px;
    border-radius:5px;
}

.welcome-body .message-defined, .welcome-body ul, .welcome-body p {
    color: #666;
	line-height: 120%;
    margin-top: 0.2em;
    margin-bottom: 0.5em;
}

.welcome-block .welcome-body .gearbox .message-defined {
    font-size: 0.9em;
}

.welcome-block .welcome-body .topline {
    font-size: 110%;
}

.welcome-block .welcome-body .feedback, .welcome_widget .welcome-body .topline {
    color: #333;
    font-weight: bolder;
}

/* MyBerkeley custom end */
