/** LAYOUT **/

.dynamiclistmanager_widget .button-list {
    float: right;
    margin-top: 10px;
    padding-bottom: 10px;
}

/** Table **/

.dynamiclistmanager_widget .main_content_container {
    border: 1px solid #d5dbdf;
    border-width: 2px 0;
    width: 100%;
    margin-top: 12px;
    min-height: 300px;
    height: 300px;
    overflow: auto;
}

.dynamiclistmanager_widget .bottom_decor
{
    margin-top: 15px;
    border-top: 1px solid #D4D4D4;
    border-bottom: 1px solid #D4D4D4;

}

.dynamiclistmanager_widget .list-table {
    margin: 0;
    width: 100%;

    border-collapse: collapse;
    margin: 0;
}

.dynamiclistmanager_widget .list-table .different {
    background: #eaedef;
}

.dynamiclistmanager_widget .list-table .different th {
    border-bottom: 2px solid #d5dbdf;
    padding-left: 5px;
}

.dynamiclistmanager_widget .list-table #list_tableHeader_chk {
    width: 20px;
}

.dynamiclistmanager_widget .list-table #list_table_header_date_modified {
    width: 140px;
    border-left: 1px solid #D4DADE;
    color: #666666;
}

.dynamiclistmanager_widget .list-table #list_table_header_name {
    border-left: 1px solid #D4DADE;
    color: #666666;
}

.dynamiclistmanager_widget .list-table #list_table_header_size {
    width: 68px;
    border-left: 1px solid #D4DADE;
    color: #666666;
}

/** List **/
.dynamiclistmanager_widget .list-table a:hover {
    text-decoration: none;
}

.dynamiclistmanager_widget .list-table th {
    color: #333;
    text-align: left;
    height: 26px;
    border: none;
}

.dynamiclistmanager_widget .list-table tr {
    color: #666;
}

.dynamiclistmanager_widget .list-table td {
    border: none;
    color: #666;
    text-align: left;
    font-size: 1em;
    border-bottom: 1px solid #d5dbdf;
    /*white-space: nowrap;*/
    overflow: hidden;
    padding: 8px 4px;
    vertical-align: top;
}

.dynamiclistmanager_widget .list-table td.s3s-dynamiclist-name {
    white-space: normal;
}

.dynamiclistmanager_widget .list-table .list_message_none {
    text-align: center;
    border: none;
    height: 370px;
}

.dynamiclistmanager_widget .list_list_table_header_sort {
    /*cursor:pointer;*/
}

.dynamiclistmanager_widget .list_list_table_header_sort span {
    float: left;
}

.dynamiclistmanager_widget a.editLink:link {
    text-decoration: underline;
}

/* For context selection drop-down menu */
.dynamiclistmanager_widget #dlm_create_button_multiple_choice_container:hover span#dynamic_lists_create_new {
    color: #fff;
}

.dynamiclistmanager_widget #dlm_create_button_multiple_choice_container:hover #dlm_create_button_and_arrow_div span#small_arrow{
    display:inline-block;
    background:url('/devwidgets/entity/images/entity_changepic_hover_arrow.png') no-repeat top left transparent;
    height: 8px;
    width: 12px;
}
.dynamiclistmanager_widget #dlm_create_button_multiple_choice_container #dlm_create_button_and_arrow_div span#small_arrow{
    display:inline-block;
    background:url('/devwidgets/entity/images/entity_changepic_arrow.png') no-repeat top left transparent;
    height: 8px;
    width: 12px;
}

.dynamiclistmanager_widget .disabled {
	-moz-opacity: 0.4;
	filter:alpha(opacity=40);
	opacity: 0.4;
}
