/*
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */

/* Main */
.mylinks .widget_title_icon {
    background: url("/devwidgets/mylinks/images/mylinks_widget_icon.png") no-repeat transparent;
}

.myreminders .s3d-widget-titlebar {
    height: 47px;
}

.mylinks_widget .fl-widget-content {
    padding: 0;
    border-right: 3px solid #D4DADE;
    border-left: 3px solid #D4DADE;
    margin: 0;
}

/* List of links */
.mylinks_widget .link_list {overflow: auto; max-height: 200px;}
.mylinks_widget .link_list li {list-style: none;}

.mylinks_widget .link_list a {
    display: block;
    padding: 6px 10px 5px 40px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    outline: none;
}
.mylinks_widget .link_list a:hover 
{
    background-repeat: no-repeat;
    background-position: 10px 3px;
    text-decoration: none;
}

/* Accordion */
#accordion {
    list-style: none;
    padding: 0 0 0 0;
}

#accordion div {
    display: block;
    font-weight: bold;
    border-top: 1px solid #000000;
    cursor: pointer;
    padding: 5px 5px 5px 7px;
    list-style: circle;
}

#accordion .notSelected {
	background: url("/devwidgets/mylinks/images/arrow-sort.png") no-repeat scroll transparent;
	background-color: #D5DBDF;
	background-position: 100% -26px;
	border-bottom: 0px;
}

#accordion .selected {
	background: url("/devwidgets/mylinks/images/arrow-sort.png") no-repeat scroll transparent;
	background-color: #D5DBDF;
	background-position: 100% 0px;
	border-bottom: 1px solid #000000;
}

#accordion .accordion_pane {
	display: none;
	overflow: auto;
}

/*
#accordion ul {
    list-style: none;
    padding: 0 0 0 0;
}

#accordion ul{
    display: none;
}

#accordion ul li {
    font-weight: normal;
    cursor: auto;
    padding: 0 0 0 7px;
}*/

#accordion a {
    text-decoration: none;
}

#accordion a:hover {
    text-decoration: underline;
}

/* Add/Edit Link Panel */
.mylinks_widget .addedit_link_panel {
    overflow: auto; 
    max-height: 200px;
    padding: 10px 20px;
    display: none;
}

.mylinks_widget .addedit_link_panel .link-form input {   
    width: 330px; 
}

.mylinks_widget .addedit_link_panel .link-form select {
    width: 150px;
}

.mylinks_widget .addedit_link_panel .button-list {
    float: right;
}