.myevents .widget_title_icon {
    background: url("/devwidgets/myevents/images/myevents_widget_icon.png") no-repeat transparent;
}

.myevents_widget .noticewidget_detail h3 {
    margin-bottom: 0;
}

.myevents_widget .noticewidget_detail h4.event-location {
    color: #444;
    margin: 0 0 0.3em;
    font-weight: normal;
}
