body { margin-bottom: 50px !important; }

/* General */
label {color:#888; font-weight: bold; font-size: 1em;}

/* Container */
.index-container{width: 960px; height: 100%; height: auto; min-height: 100%;}
#login-failed {color: #000; display:none; margin-top:10px; width:260px;}
#login-loader {display:none; color: #000;}

/* Header */
.header{background: #666; width: 100%; height: 150px;}
.header-version{color: #999; font-size: 12px; float: right; padding: 15px 30px 0 0;}
.header-title{ color: #08415E; font-size: 4.0em; float: left; margin: 0 35px 0 0; padding: 40px 0 0;}
.header-title .sakai_logo_index {background:url("/dev/images/sakai_logo_index.png") no-repeat scroll 0 7px transparent; height:54px; padding:0 10px; width:81px;}
 
.header-byline{color: #2C9CC4; font-size: 1.5em; font-weight: bold; padding: 60px 0 0 0;}
.header-smallline {padding:0 0 40px 0; color:#000; font-size: 1em;}

/* Log-in box */
.login-box {padding: 40px; background: url(../../_images/login-box.png) no-repeat top left; clear: both; height: 324px;}
.preview-box{float: left; width: 540px; margin: 0 80px 0 0;}
.preview-box img {padding: 0 0 90px;}

/* Log-in container */
.login-container {padding: 0; float: left;}
.login-container-button {margin: 25px 0 35px 0; float: none; border: 1px solid #fff;}
.login-container-textfield {border: 1px solid #888; height: 18px; margin-bottom:15px; padding: 3px 0 0 3px; width:200px !important;}

/* External Log-in */
.login-external {margin-left: 600px; width: 250px; height: 250px; display: table;}
.login-external-content {display: table-cell; vertical-align: middle;}
.login-external-system {margin-bottom:30px;}
.login-external-description {color: #999999;}

/* Register here */
#register_here {color: #454a4e; font-size: 0.95em; clear: both;}
#register_here a {color:#006d94; font-weight: bold;}

/* Footer */
#index_footer {position: fixed; z-index: 99; bottom: 0px; color: #fff; background: url(../../_images/footer_bg.png) bottom left no-repeat; padding: 18px 20px 0 100px; margin-top: 100px; clear: both; height: 42px; width: 840px; font-size: .85em; line-height: 1.2em;}
#index_footer a { color: #c6e4fc; }

/* myBerkeley Styles */

.login-box {
    padding: 30px 40px;
}

.header-title { 
    margin: 0 35px 0 10px; 
    padding: 16px 0 0;
}

.header-byline {
    font-size: 1.7em; 
    padding: 50px 0 0 0;
}

.header-smallline { 
    padding: 10px 0 40px;
    color: #555;
    font-size: 1.85em;
}

.header-smallline strong {
    font-size: 1.19em;
}

.header-smallline .beta-tag {
    display: inline;
    padding: 13px 41px;
    background: url(/dev/_images/myBerkeley/beta-tag.png) no-repeat 00 scroll;
}

/* strange redundant styleing on .request-feedback is for the odd case where there is more than one login type */
.request-feedback {
    padding: 6px;
    color: #555;
    text-align: center;   
    font-size: 1.85em;
    clear: both;
    background-color: white;
    height: auto;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.login-container-button {
    margin: 0 0 10px;
}

.login-container {
    border-bottom: 1px solid #CCC;
    padding-bottom: 10px;    
}

#myBerkeley-CAS .login-external-description a, .request-feedback a {
    color: #1386C4;
}

#myBerkeley-CAS {
    text-align: center;
    height: 210px;
}

#myBerkeley-CAS p {
    margin-bottom: 0.6em;
}

#myBerkeley-CAS .login-external-label {
    font-size: 1.2em;
}

#myBerkeley-CAS .login-external-description {
    color: #555;
    background-color: white;
    font-size: 1.1em;
    text-align: left;
    padding: 14px 12px;
    border: 1px #B8B8B8 solid;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

a.s3d-help-button {
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-left: 4px;
    background-color: transparent;
    background-image: url(/dev/_images/myBerkeley/help-icon.png);
    background-attachment: scroll;
    background-position: 0 0;
    background-repeat: no-repeat;
}

a.s3d-help-button:hover {
    background-position: -20px 0;
}
