/* Main */

.mytasks .s3d-contentpage-title, .myevents .s3d-contentpage-title {
    margin-bottom: 0;
}

.mytasks .s3d-widget-footer, .myevents .s3d-widget-footer {
    margin-top: 0;
}

.mytasks .s3d-button.s3d-overlay-button, .myevents .s3d-button.s3d-overlay-button  {
    height:22px;
    margin-left:0;
}


/*.s3d-button.s3d-overlay-button {
    background:url("/dev/images/button_overlay_default.png") repeat-x scroll left top transparent;
    border:1px solid #E0E3E5;
    font-size:11px;
    font-weight:bold;
    height:24px;
    margin-left:15px;
    box-shadow:0 1px 1px 0 #999;
    text-shadow:0 2px 3px #fff;
    color: #2683bc;
}*/

.mytasks_overdue_tasks_msg {
    background-color: #C4DAE8;
    color: #BF0000;
    font-weight: bold;
    padding: 6px 0;
    text-align: center;
    border-top: 1px solid #BBB;
}

.showing_archive_msg {
    background-color: #C4DAE8;
    color: #000000;
    font-weight: bold;
    padding: 6px 0;
    text-align: center;
}


.s3d-widget .s3d-widget-content {
    padding-bottom: 0;
}
/**
    Selectors that contain "noticewidget_" are shared between mytasks and myevents widgets.
**/

.noticewidget_listing_loading {
    font-style: italic;
    color: #666;
    padding: 6px;
    text-align: center;
    border-top: 1px solid #DFDFDF;
    background-color: #E0EEF5;
    font-weight: bolder;
    clear: both;
}



table.noticewidget_listing {
    font-size: 12px;
    border-collapse: collapse;
    border-top: 1px solid #BBB;
    border-spacing: 0;
    margin-bottom: 0;
	width: 100%; /* needed for IE7 */
    display: block;
}

.archiveView {
    border-top: solid 1px #666;  
}

.mytasks_overdue_tasks_exist .archiveView {
    margin-top: 0;
}

table.noticewidget_listing thead {
    background-color: #EBEDEE;  
    border-bottom: 1px solid #BBB;                 
}

table.noticewidget_listing th {
    border-bottom: 1px solid #BBB;
    font-size: 11px;
}

table.noticewidget_listing th.ASC {
    background: url("/devwidgets/mytasks/images/arrow-sort.png") no-repeat scroll transparent;
	background-position: 100% -27px;
	background-color: #D5DBDF;
	
}

table.noticewidget_listing th.DESC {
    background: url("/devwidgets/mytasks/images/arrow-sort.png") no-repeat scroll transparent;
	background-position: 100% -2px;
	background-color: #D5DBDF;
}

table.noticewidget_listing td, table.noticewidget_listing th {    
    text-align: center;
    padding: 1px 18px 0 5px;
}

.noticewidget_scroller {
    display:block;
    height: 180px;
    overflow: auto;
    overflow-x: hidden;
}

/* Fix inheritance problem with scroller in IE7 */
table.noticewidget_listing tbody tr {
    /*height: 40px;*/    
}

.rightbound {
    border-right: solid 1px #CCC;
}

table.noticewidget_listing .subjectLine {
    text-align: left;    
}

table.noticewidget_listing .dueLine {
    width: 16%;
    text-align: left;   
    padding-left: 10px; 
}

table.noticewidget_listing .dueDateLine {
    width: 16%;
    text-align: left;
    padding-left: 10px;
}

table.noticewidget_listing .requiredLine {
    width: 15%;
    text-align: left;   
}

table.noticewidget_listing .taskStateLine {
    width: 12%;
    text-align: left;
    padding-right: 15px;
}

table.noticewidget_listing tr.empty_list td {
    width: 100%;
    text-align: center;
    font-style: italic;
	padding: 10px;
}

table.noticewidget_listing tr.notice_row {
    cursor: pointer;
}

table.noticewidget_listing tr.notice_row td {
    padding: 5px;
    vertical-align: top;
}

table.noticewidget_listing tr.alternate {
    background-color: #F0F0F0;
}

table.noticewidget_listing tr.notice_row:hover {
    background-color: #CCC;
}

.noticewidget_listing_sort {
    cursor: pointer;
    height: 23px;
    border-bottom: solid 1px #BBB;    
    width: auto;
    font-weight: bold;
    color: #333;
}

.noticewidget_filter_container {
    color: #333;
    padding: 5px 0px;
    font-size: 12px;
    border-top: 1px solid #BBB;
}

.mytasks_overdue_tasks_exist .noticewidget_filter_container {
    margin-top: 0;
}

.noticewidget_filter {
    background-color: #fff;
    width: auto;
    font-size: 90%;
}

.noticewidget_filter_status, .noticewidget_filter_daterange  {
    width: 40%;          
    line-height: 19px;      
    margin: 5px 0;
    float: left;
}

.noticewidget_filter_status {
    margin-left: 24px;
}

.noticewidget_filter_daterange {          
    padding-left: 6px;
    margin-left: 6px;
    border-left: 1px dotted #BBB;
}


.noticewidget_filter_status input, .noticewidget_filter_daterange input  {
    margin-left: 9px;    
}

.noticewidget_filter_status label, .noticewidget_filter_daterange label {
    color: #333;    
}

.noticewidget_filter_control {     
    color: #333;
    padding: 0 6px 0 23px;
}

.noticewidget_filter_header {
    font-style: normal;
    font-weight: bolder;
}

.noticewidget_filter_message {
    font-style: italic;
}

.noticewidget_filter_control_header {
    cursor: pointer;
}

.noticewidget_filter_control_indicator {
    position: absolute;
    width: 10px;    
    margin-left: 6px;    
    background: url("/devwidgets/mytasks/images/arrow-disclosure.png") no-repeat scroll 0 top transparent;   
    display: inline-block;    
}

.noticewidget_filter_control_indicator.open {
    background-position: -16px top;
}

.noticewidget_filter_control_indicator.closed {
    background-position: left top;
}

.noticewidget_filter_done {
    height: 24px;
}

.noticewidget_checkmark {
	display: inline-block;
    width: 16px;
    background: url("/devwidgets/mytasks/images/checkmark.png") no-repeat scroll transparent;
	background-position: 0px -2px;
}

.myB-return-arrow {
  background: url("/dev/images/dashboard_sprite.png") no-repeat scroll -448px -395px transparent;
  display: block;
  float: left;
  padding-right: 15px;
  height: 16px;
  width: 8px;
}

.noticewidget_detail_controls {
    padding: 6px 0 4px;    
}

.noticewidget_detail_controls .return_to_list_container:hover .return_to_list {
    background-position: left -75px;
}

.noticewidget_detail_controls .return_to_list_container:hover .return_to_list_right_corner {
    background-position: -202px -110px;
}

.noticewidget_detail_controls .noticewidget-arrows {
    float: right;
    margin-right: 7px;
    margin-top: 0;
    line-height: 0;
}

.noticewidget_detail_controls .notice-nav {
    height: 16px;
    width: 22px;
    background-color: #454A4E;
    background-image: url("/devwidgets/mytasks/images/notice-arrow-nav.png");
    background-attachment: scroll;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 0;
    overflow: visible;
    padding: 0;
    position: relative;
    border: none;
    color: white;
    outline: none;
}

.noticewidget_detail_controls .notice-nav:hover {
    background-color: #006E96;
}

.noticewidget_detail_controls .notice-nav.disabled {
    background-color: #999;
}

.noticewidget_detail_controls .notice-next {
    background-position: 4px 4px;
    margin-left: 1px;
    -moz-border-radius: 0 8px 8px 0; 
    border-radius: 0 8px 8px 0; 
}

.noticewidget_detail_controls .notice-prev {
    background-position: 7px -21px;
    -moz-border-radius: 8px 0 0 8px;
    border-radius: 8px 0 0 8px;
}

.noticewidget_detail {
    border-top: 1px solid #ccc;
    clear: both;
    color: #444;
}

.noticewidget_detail h3 {
    padding: 6px 10px;
    font-size: 100%;
    line-height: 120%;
    margin: 0;
    background-color: #EDEDED;
}

.noticewidget_detail h4 {
    padding: 4px 10px;
    font-size: 90%;
    font-weight: normal;
}

.noticewidget_detail p {
    margin: 0;
    padding: 4px 10px 0;
    font-size: 90%;
}

.noticewidget_detail .myB-isNOTrequired {
    font-weight: normal;
}

.noticewidget_detail .myB-isrequired {
    font-weight: bolder;
}

.noticewidget_detail fieldset {
    float: right;
    margin: 4px;
    font-size: 90%;
}

.noticewidget_detail h5 {
    float: right;
}

.noticewidget_detail textarea {
    color: #444;
    border: none;
    border-top: 1px dotted #CCC;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 2px 10px;
    margin-top: 1px;
    height: 150px;
    width: 100%;
    max-width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}

.noticewidget_detail textarea:hover {
    background-color: transparent;
}

.mytasks_widget .fl-widget-options .widget-options-inner .left {
    float: left;
    margin-left: 10px;
}

.mytasks_widget .fl-widget-options .widget-options-inner .right {
    float: right;
    margin-right: -10px;
}

.s3d-widget-footer a.noticewidget_view_task_archive {
    float: left;
}

.noticewidget_archive_tasks_button {
    margin: -5px -5px 0 0;
}

table.noticewidget_listing tr.overDueTask {
    color: #BF0000;
}

table.noticewidget_listing .task-completed-checkbox {
    margin-top: 3px;
}


/* The last column in My Tasks and My Events widgets should be left-aligned because of the scroller */
table.noticewidget_listing td.noticewidget_task_completed, table.noticewidget_listing td.noticewidget_event_required {
	text-align: left;
	padding-left: 9px !important;
}

table.noticewidget_listing td.noticewidget_event_required {
	text-align: left;
	padding-left: 15px !important;
}


/* Required task bullets */
table.noticewidget_listing td span.required_task_bullet {
	width: 14px;
	height: 14px;
	display: inline-block;	
}

table.noticewidget_listing tr td span.required_task_bullet {
    background: url("/devwidgets/mytasks/images/bullet_black.png") no-repeat scroll transparent;
	background-position: 0 0;	
}

table.noticewidget_listing tr.overDueTask td span.required_task_bullet {
    background: url("/devwidgets/mytasks/images/bullet_red.png") no-repeat scroll transparent;
	background-position: 0 0;
}

.myevents_widget table.noticewidget_listing .subjectLine {
    width: 80%;        
}