.mytasks .widget_title {
    background: url("/devwidgets/mytasks/images/mytasks_widget_icon.png") no-repeat scroll 16px 16px transparent;
}

/**
    Selectors that contain "noticewidget_" are shared between mytasks and myevents widgets.
**/

table.noticewidget_listing {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid black;
    margin: 10px;
    overflow: auto;
    max-height: 300px;
}

table.noticewidget_listing thead {
    background-color: #D4DADE;
}

table.noticewidget_listing th {
    border-bottom: 1px solid black;
}

table.noticewidget_listing td, table.noticewidget_listing th {
    border-right: 1px solid black;
    border-left: 1px solid black;
    width: 30px;
    text-align: center;
    padding: 0 5px 0 5px;
}

table.noticewidget_listing td.subjectLine {
    width: 300px;
    text-align: left;
}

table.noticewidget_listing tr.empty_list td {
    width: 300px;
    text-align: left;
}

.noticewidget_filter {
    background-color: #fff;
    border: 1px solid black;
    z-index: 15;
    width: 25em;
    position: absolute;
    padding: 10px;
}

.noticewidget_filter .noticewidget_filter_status {
    float: left;
    padding-right: 10px;
}

.noticewidget_filter .noticewidget_filter_daterange {
    border-left: 1px solid black;
    float: left;
    padding-left: 10px;
}

.noticewidget_filter_control {
    cursor: pointer;
}