/*
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */

/* Main */

.myreminders .widget_title {
    background: url("/devwidgets/myreminders/images/reminders_widget_icon.png") no-repeat scroll 16px 16px transparent;
}

.myreminders .s3d-widget-titlebar {
    height: 47px;
}

.myreminders_widget .fl-widget-content {
    padding: 0;
    border-right: 3px solid #D4DADE;
    border-left: 3px solid #D4DADE;
    margin: 0;
}

.myreminders_widget .reminders_header {
    background-color: #D4DADE; 
    padding: 5px 10px 0px 40px;
    height: 20px;
}
.myreminders_widget .reminders_header .left_header {float: left; width: 100px;}
.myreminders_widget .reminders_header .right_header {float: left;}
.myreminders_widget .noReminders {font-size:9pt; padding: 10px 20px;}

/* List of reminders */
.myreminders_widget .reminders_list {min-height: 40px;}
.myreminders_widget .reminders_div {overflow: auto; max-height: 200px;}
.myreminders_widget .reminders_div .reminder {
    list-style: none;
    display: block;
    height: 27px;
    padding: 0px 10px 0px 15px;
    border-top: 1px solid #D4DADE;
    white-space: nowrap;
    overflow: hidden;
    outline: none;
}

.myreminders_widget .reminders_div .reminder .slideButton {
    background-image: url("/devwidgets/myreminders/images/link_bg.png");
    background-position: 15px 0px;
    background-repeat: no-repeat;
    display: block;
}

.myreminders_widget .reminders_div .reminder:hover .slideButton {
    background-position: 0px 8px;
}

.myreminders_widget .reminders_div .reminder_expanded .slideButton, .myreminders_widget .reminders_div .reminder_expanded:hover .slideButton {
    background-position: 0px -12px;
}

.myreminders_widget .reminders_div .read_true {font-weight: normal; background-color: #E6E6E6;}
.myreminders_widget .reminders_div .read_false {font-weight: bold; background-color: white;}
.myreminders_widget .reminders_div .pastDue {font-weight: bold; color: #CC0000;}
.reminders_div a {text-decoration: none;}

/* Individual reminder */
.myreminders_widget .reminders_div .checkDone {
    float: left;
    width: 25px;
    white-space: nowrap;
    overflow: hidden;
    padding-top: 6px;
}

.myreminders_widget .reminders_div .dueDate {
    float: left;
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    padding-top: 6px;
    cursor: pointer;
}

.myreminders_widget .reminders_div .subjectLine {
    float: left;
    white-space: nowrap;
    overflow: hidden;
    padding-top: 6px;
    cursor: pointer;
}

.myreminders_widget .reminders_div .slideButton {
    display: block;
    float: left;
    width: 20px;
    height: 25px;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 10px;
    cursor: pointer;
}

.myreminders_widget .reminders_div .messageSnippet {
    display: none;
    max-height: 29px;
    overflow: hidden;
    padding: 0px 25px 5px 15px;
    cursor: pointer;
}
