/** CONTAINER **/

.fixed-container
{ background: #fff;}

/** LAYOUT **/

.button-list
{ margin-top: 10px; float: right; }

/** INBOX PANE & DEFAULT SETUP **/

.groupnotificationmanager_widget .inbox-heading
{ font-weight: bold; color: #333; font-size: 17px; padding: 4px 0 0 5px; }

/** Table **/
.groupnotificationmanager_widget .main_content_container
{  border-left: 3px solid #d5dbdf; border-right: 3px solid #d5dbdf; min-height: 300px; height: 300px; overflow: auto; }

.groupnotificationmanager_widget .inbox-table
{ width:100%; margin:0; border-spacing:0; border-collapse:collapse; }

.groupnotificationmanager_widget .top_decor
{height:32px;padding:9px 0 0 7px;border: 3px solid #e6e6e6;border-top-left-radius: 10px;border-top-right-radius: 10px;}

/** Header **/
.groupnotificationmanager_widget .inbox-table .different
{ background: #eaedef; }
.groupnotificationmanager_widget .inbox-table .different th
{ border-bottom: 3px solid #d5dbdf; }

.groupnotificationmanager_widget .inbox-table #inbox_table_header_chk
{ width:3%; }
.groupnotificationmanager_widget .inbox-table #inbox_table_header_from
{ width:25%; border-left: 1px solid #D4DADE; color: #666666; }
.groupnotificationmanager_widget .inbox-table #inbox_table_header_subject
{ width:49%; border-left: 1px solid #D4DADE; color: #666666; }
.groupnotificationmanager_widget .inbox-table #inbox_table_header_date
{ width:25%; border-left: 1px solid #D4DADE; color: #666666; }

#inbox_inbox_checkAll
{ margin: 5px; }
.inbox_inbox_check_message
{ margin-left: 5px; }

/** List **/
.groupnotificationmanager_widget .inbox-table th
{color:#333;text-align:left;height:26px;border:none;padding:3px 5px;}
.groupnotificationmanager_widget .inbox-table tr
{ color: #666; }

.groupnotificationmanager_widget .inbox-table tr.inbox_message:hover
{ background-color:#d9eaf5; cursor:pointer; }

.groupnotificationmanager_widget .inbox-table tr.message_none_row:hover
{ background-color:#fff !important; cursor:auto !important; }

.groupnotificationmanager_widget .inbox-table td
{ border:none;color:#666;text-align:left;font-size:1em;border-bottom:1px solid #d5dbdf;padding:4px 4px 4px 4px; }
.groupnotificationmanager_widget .inbox-table tr.inbox-subject-read *
{ font-weight:normal;}
.groupnotificationmanager_widget .inbox-table tr.inbox-subject-unread *
{ font-weight: bold; }
.groupnotificationmanager_widget .inbox-table td a.inbox_inbox_message {color:#058EC4}
.groupnotificationmanager_widget .inbox-table .inbox_message_none
{ text-align: center; border: none; height: 100%; padding-top:  130px; }
.groupnotificationmanager_widget .inbox-table tr.inbox-message-unvalidated *
{ font-weight: normal; font-style: italic; }
.groupnotificationmanager_widget .inbox-table {
    border-collapse: collapse;
    border-spacing: 0;
}

.groupnotificationmanager_widget .bottom_decor
{ border: 3px solid #d5dbdf; border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;height:41px; }



/** NOTIFICATIONS, ERROR MESSAGES **/

.inbox_error_message
{ font-weight:bold; padding:10px; border:3px solid #ff0000; background-color:#f7d8d8; width:80%;float:left; }

.inbox_normal_message
{ padding:10px; border:3px solid #00ff00; background-color:#d9f7d8; width:80%;float:left; }

.groupnotificationmanager_widget .user-personal a
{color: #058ec4; font-size: 12px;}
.groupnotificationmanager_widget .user-personal strong
{color: #058ec4;}
.groupnotificationmanager_widget .user-personal li
{border-left: 1px solid #999; padding: 0 2px 0 6px;}
.groupnotificationmanager_widget .user-personal .first{border-left: none;}

.groupnotificationmanager_widget .user-name{color: #058ec4; background: url(/dev/images/user_online.gif) no-repeat 7px 2px;}
.groupnotificationmanager_widget .user-name strong{padding-left: 14px;}

.groupnotificationmanager_widget .user-arrow-down{position: relative; top: -1px; padding-left: 3px;}

.groupnotificationmanager_widget .user-mail{background: url(/dev/images/user_mail_icon.gif) no-repeat 6px 3px;}
.groupnotificationmanager_widget .user-mail a{color: #666; padding-left: 16px;}

.groupnotificationmanager_widget .inbox-checkbox{width: 16px;}

.groupnotificationmanager_widget .inbox-delete{padding: 10px 0 12px 0;}
.groupnotificationmanager_widget #inbox_delete {margin:10px 0px 10px 0px;display:inline-block;;}

/*.groupnotificationmanager_widget .inbox_arrow {float:right;width:6px;height:3px;display:inline;margin-top:5px;}*/

.groupnotificationmanager_widget .inbox_inbox_table_header_sort { cursor:pointer;}
.groupnotificationmanager_widget .inbox_inbox_table_header_sort span { float:left; }

.groupnotificationmanager_widget #inbox_compose_new img { border:none;}

.groupnotificationmanager_widget .user-name strong{padding-left: 14px;}

.groupnotificationmanager_widget .user-arrow-down{position: relative; top: -1px; padding-left: 3px;}

.groupnotificationmanager_widget .user-mail{background: url(/dev/images/user_mail_icon.gif) no-repeat 6px 3px;}
.groupnotificationmanager_widget .user-mail a{color: #666; padding-left: 16px;}

.groupnotificationmanager_widget .inbox-checkbox{width: 16px;}

.groupnotificationmanager_widget .inbox-delete{padding: 10px 0 12px 0;}
.groupnotificationmanager_widget #inbox_delete {margin:10px 0px 10px 0px;display:inline-block;;}

.groupnotificationmanager_widget .inbox_arrow {float:right;width:6px;height:3px;display:inline;margin-top:5px;}

.groupnotificationmanager_widget .inbox_inbox_table_header_sort { cursor:pointer;}
.groupnotificationmanager_widget .inbox_inbox_table_header_sort span { float:left; }

.groupnotificationmanager_widget #inbox_compose_new img { border:none;}

.groupnotificationmanager_widget .subject-td p {
    max-width: 337px;
    margin: 0;
    overflow: auto;
    overflow-y: hidden; /* For Chrome on Windows */
}

.groupnotificationmanager_widget .subject-td p a {
    max-width: 100%;
    display: inline-block;
}
