.login-box {
    padding: 30px 40px;
}

.header-title {
    margin: 0 35px 0 10px;
    padding: 16px 0 0;
}

.header-byline {
    font-size: 1.7em;
    padding: 50px 0 0 0;
}

.header-smallline {
    padding: 10px 0 40px;
    color: #555;
    font-size: 1.85em;
}

.header-smallline strong {
    font-size: 1.19em;
}

.header-smallline .beta-tag {
    display: inline;
    padding: 13px 41px;
    background: url(/dev/images/myBerkeley/beta-tag.png) no-repeat 00 scroll;
}

/* strange redundant styleing on .request-feedback is for the odd case where there is more than one login type */
.request-feedback {
    padding: 6px;
    color: #555;
    text-align: center;
    font-size: 1.85em;
    clear: both;
    background-color: white;
    height: auto;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.login-container-button {
    margin: 0 0 10px;
}

.login-container {
    border-bottom: 1px solid #CCC;
    padding-bottom: 10px;
}

#myBerkeley-CAS .login-external-description a, .request-feedback a {
    color: #1386C4;
}

#myBerkeley-CAS {
    text-align: center;
    height: 210px;
}

#myBerkeley-CAS p {
    margin-bottom: 0.6em;
}

#myBerkeley-CAS .login-external-label {
    font-size: 1.2em;
}

#myBerkeley-CAS .login-external-description {
    color: #555;
    background-color: white;
    font-size: 1.1em;
    text-align: left;
    padding: 14px 12px;
    border: 1px #B8B8B8 solid;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

a.s3d-help-button {
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-left: 4px;
    background-color: transparent;
    background-image: url(/dev/images/myBerkeley/help-icon.png);
    background-attachment: scroll;
    background-position: 0 0;
    background-repeat: no-repeat;
}

a.s3d-help-button:hover {
    background-position: -20px 0;
}
