.login-container {
	float:right;
}

.preview-box {
	float:left;
}

.header-title .sakai_logo_index {
    background: url("/dev/images/myb/myb-small-gray-logotype.png") no-repeat scroll 0px 0px transparent;
    height: 54px;
    padding: 0;
    width: 203px;
}

.header-byline {
	padding: 26px 0 25px;
}

/* Using default html styles for anchor tag */
/* myBerkeley change */
#permission_error a.default, #page_not_found_error a.default {text-decoration:underline; color: #0000ff;}
#permission_error a:visited.default, #page_not_found_error a:visited.default {text-decoration:underline; color: #800080;}
#permission_error a:hover.default, #page_not_found_error a:hover.default {text-decoration:underline; color: #ff0000;}
/* myBerkeley change */
