/* strange redundant styleing on .request-feedback is for the odd case where there is more than one login type */
.request-feedback {
    padding: 6px;
    color: #555;
    text-align: center;
    background-color: white;
    height: auto;
}

.header-title {
    float: none;
    margin-top: -24px;
}

.header-title .sakai_logo_index {
    background: url("/dev/images/myb/myb-beta-lrg-logotype.png") no-repeat scroll 0 7px transparent;
    height: 102px;
    padding: 0 5px;
    width: 386px;
    margin-bottom: 0;
}

.header-byline {
    font-size: 1.36em;
    padding-bottom: 16px;
}

.header-smallline {
    padding: 0 0 20px;
    color: #555;
    font-size: 1.36em;
}

.header-smallline strong {
    font-size: 1.13em;
}

.header-smallline .beta-tag {
    display: inline;
    padding: 13px 41px;
    background: url(/dev/images/myb/beta-tag.png) no-repeat 00 scroll;
}

.myb-frontdoor-image {
    2px solid black;
    -moz-border-radius: 6px;
    -khtml-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    width: 540px;
    height: 234px;
    background: url(/dev/images/myb/ucb-45-pano.jpg) no-repeat 00 scroll;
}