/* Default Custom Skin File */
#explore_navigation {background:url("/dev/images/explore_navigation_bg.png") repeat-x scroll left bottom #E5E6E7;box-shadow:0px 11px 7px -11px inset;-moz-box-shadow:0px 11px 7px -11px inset;-webkit-box-shadow:0px 11px 7px -11px inset;padding:10px 0 0 30px;}
#explore_content {background:url("/dev/images/explore_top_dropshadow.png") no-repeat top center transparent;}

/** CalCentral Opt-In Dialog **/

#join_myberkeley_dialog .welcome-opt-in {
    margin-top: 1em;
    width: 100%;
    height: 86px;
    background: url(/dev/images/myb/welcome-opt-in.png) no-repeat;
}

#join_myberkeley_dialog ul li {
    margin-top: 4px;
}

#join_myberkeley_dialog .opt-in-checkbox {
    line-height: 160%;
}

/** CalCentral widget customizations **/

.mytasks .s3d-contentpage-title, .myevents .s3d-contentpage-title, .mylinks .s3d-contentpage-title {
    margin-bottom: 0;
}

.mytasks .s3d-widget-footer, .myevents .s3d-widget-footer, .mylinks .s3d-widget-footer {
    margin-top: 0;
}

.calc_widget .s3d-button.s3d-overlay-button {
    height: 22px;
    margin-left: 0;
}

.calc_widget .s3d-widget-footer .s3d-button.s3d-overlay-button {
    margin: -5px -5px 0 0;
}