/* Default Custom Skin File */
#explore_navigation {background:url("/dev/images/explore_navigation_bg.png") repeat-x scroll left bottom #E5E6E7;box-shadow:0px 11px 7px -11px inset;-moz-box-shadow:0px 11px 7px -11px inset;-webkit-box-shadow:0px 11px 7px -11px inset;padding:10px 0 0 30px;}
#explore_content {background:url("/dev/images/explore_top_dropshadow.png") no-repeat top center transparent;}


/** CalCentral widget customizations **/
.mytasks .s3d-contentpage-title, .myevents .s3d-contentpage-title, .mylinks .s3d-contentpage-title {
    margin-bottom: 0;
}

.mytasks .s3d-widget-footer, .myevents .s3d-widget-footer, .mylinks .s3d-widget-footer {
    margin-top: 0;
}

.calc_widget .s3d-button.s3d-overlay-button {
    height: 22px;
    margin-left: 0;
}

.calc_widget .s3d-widget-footer .s3d-button.s3d-overlay-button {
    margin: -5px -5px 0 0;
}

/** CalCentral Button customization **/
.s3d-button.s3d-header-button.s3d-header-smaller-button {
    padding: 0 8px;
} 

/* Asterisks for required fields */
span.required {
    font-size:1.3em;
    font-weight:bold;
    color:#CC0000; 
}    

/* Instructional legends/text beneath forms */
.form_legend { 
    clear:both;
    color:#666;
    font-size: 11.5px;
    margin:20px 0 10px 137px;
    padding:10px 3px 3px 3px;
} 

/* Override horizontal rules (gold, not gray) */
.s3d-contentpage-title {
    border-bottom: 2px solid #e4c495;
    font-size: 1.15em;
    font-weight:bold;
}

/* Use darker background for selected LH nav menu */

#lhnavigation_container ul li.lhnavigation_selected_item.lhnavigation_outer, #lhnavigation_container ul li ul li.lhnavigation_selected_item div.lhnavigation_subnav_item_content {
  background: url("/devwidgets/lhnavigation/images/cc_lhnav_selected_item_bg.png") repeat-x left top #012955 !important;
  color: #fff;
}

/* Blue topnav for CalCentral */
.s3d-navigation-container {
    background: url("/devwidgets/topnavigation/images/topnav_cc_bg.png") repeat-x scroll left top transparent;
}