/*
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */

.walktime_widget {padding: 0px 12px;}

.walktime_widget #walktime_map_container {
    width:200px;
    height:200px;
}

.walktime_widget p {
    font-family:arial;
}

.walktime_widget p#answer {
    font-size:1.2em;
    color:#323D71;
    font-weight:bold;
}

#walktime_iframe_map {
    width:220px;
    height:210px;
}

.walktime_widget #StartPoint, .walktime_widget #EndPoint {
    width:100%;
}

/* In map.html : */
#walktime_map_canvas { 
    width: 200px; 
    height: 200px;
    margin:-5px;
}    

#walktime_map_link a {
    text-decoration:none;
}