/*
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */

.edit-notification-wrapper {
    padding:10px;
    background-color: #f4f4f4;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius:6px;
    box-shadow: 0px 0px 5px 0px #ccc;
    -moz-box-shadow:0px 0px 5px 0px #ccc;
    -webkit-box-shadow:0px 0px 5px 0px #ccc;
}

.cn-form-header {
    padding-bottom: 20px;   
}

.compose-form div {
    margin-bottom: 8px;
    overflow: hidden;
}

.compose-form select {
    border: 1px solid #CCC;
}

.compose-form fieldset {
    padding: 15px 10px 0;
    margin-bottom: 0; 
}

.compose-form .edit-notification-type {
   background-color: #fff;
   border-radius: 6px;
   border: 2px solid #e6e6e6;
}

.compose-form .dialog_buttons {
    margin-top: 10px;
    margin-bottom: 0px;
}

/* Radiobox and checkbox formatting */
.radioboxes, .checkboxes {
    margin-right: 5px;
    position: relative;
    top: 1px;
}

/* Reminder check and task or event detail formatting */
.task_or_event {position: relative; left: 20px;}
.composenotification_taskorevent .header {position: relative; left: 23px; font-size: 16px; top: -5px;}
.cn-task {position: relative; left: 23px;}
.cn-event {position: relative; left: 23px;}

/*#composenotification_box {width: 575px;} */
.composenotification_error_message {font-weight:bold;margin:10px;padding:10px;border:1px solid #ff0000;background-color:#f7d8d8;}
.composenotification_normal_message {margin:10px;padding:10px;border:1px solid #00ff00;background-color:#d9f7d8;}
.composenotification_invalid {background-color:#FFCCCC !important;}

#composenotification_box .compose-form label.name {
    display: inline-block;
    padding: 5px 0 0;
}

/* send_message_lightbox.html */

.dynamiclistselect {
    margin-top: 8px;    
}

.new-dynamic-list-button {
    position: relative;
    top: -1px;
}
.send_message .compose-form input, .send_message .compose-form textarea {
    font-weight:normal;
}

.send_message .compose-form input[type="text"] {
    height: 22px;    
}

.send_message .compose-form .compose-subject {
    width:500px;
}

.send_message .compose-form .compose-body {
    height:150px; width:500px;
}

#send_message {font-weight:bold}

.datepicker img {
    position: relative;
    top: 6px;
    margin-left: 5px;
    margin-top: -10px;
    cursor: pointer;
}

.datepicker input
{ width: 70px; }

#ui-datepicker-div {display: none;}

#composenotification_box span.left{
     display:block;
     text-align:right;
     width:140px;
     float:left;
 }

#composenotification_box span.right{
    float:left;
    margin-left:10px;
}

#composenotification_required span {
    margin-left:0;
}

.composenotification_widget .disabled {
    opacity: 0.4;
}

.composenotification_widget label.error {
    text-align: left;
    margin-top: 3px;
}

/* See sakai.base.css */
.composenotification_widget select.error
{
    background-color: #FFDEDE;
    border-color: #9F3333;
}

.composenotification_widget span.asterisk {
    color: #C00;
}

